<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="Schedule-IT" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <tbody (click)="onSelect(scheduleEvent)" *ngFor="let scheduleEvent of scheduleEvent"> </tbody>
  <td class="hidden">{{scheduleEvent._id}}</td>
  <td>{{scheduleEvent.name}}</td>
  <td>{{}scheduleEvent.event}</td>
  <td>{{scheduleEvent.date}}</td>
  <td><button type="button" (click)="removeEvent(scheduleEvent._id)">Delete</button></td>

  



</body>
</html>


<router-outlet></router-outlet>